.header {
	min-height: 30vh;
	background: $color-second;
	&-logo {
		display: flex;
		align-items: center;
		img {
			width: 40px;
			margin-right: 10px;
		}
		h1 {
			font-family: "Muli", sans-serif;
			font-weight: 600;
			margin: 0;
		}
	}
	&-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 25px;
	}
	&-menu {
		display: flex;
		align-items: center;
		cursor: pointer;
		&.open {
			display: none;
		}
		&__name {
			font-family: "Muli", sans-serif;
			font-weight: 700;
			font-size: 20px;
			text-transform: uppercase;
			margin-right: 20px;
		}
		&__toggler {
			width: 30px;
			span {
				width: 100%;
				height: 4px;
				margin: 7px 0;
				background: $color-main;
				display: block;
			}
		}
	}
}
