.button {
	background: $color-main;
	color: $color-white;
	height: 50px;
	line-height: 50px;
	border: none;
	padding: 0 48px;
	border-radius: 32px;
	cursor: pointer;
	outline: none;
	&-second {
		background: $color-gray-dark;
	}
}
