.calculator {
    width: 700px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: -150px;
    .calculator-top {
        box-shadow: 3px 3px 18px 3px #eaf0f8;
    }
    .calculator-name {
        background: $color-gray-dark;
        padding: 10px 30px;
        font-size: 24px;
        text-align: center;
        color: $color-white;
        font-family: $font-second;
        font-weight: 400;
    }
    .calculator-entry {
        font-size: 24px;
        text-align: center;
        color: $color-black;
        position: relative;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__name {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
        }
        &__input {
            background: $color-main;
            padding: 10px;
            border: none;
            text-align: right;
            font-size: 25px;
            color: $color-white;
            outline: none;
            font-weight: 600;
            width: 200px;
        }
    }
    .calculator-highlight {
        background: $color-main;
        padding: 30px 15px;
        margin-top: 30px;
        box-shadow: 3px 3px 18px 3px #eaf0f8;

        &.hidden {
            display: none;
        }
        .calculator-line {
            margin: 0;
            color: $color-white;
            font-size: 24px;
            &:after {
                background: $color-white;
            }
            &__name {
                background: $color-main;
                font-weight: 300;
            }
            &__value {
                background: $color-main;
                font-weight: 600;
            }
        }
    }

    .calculator-form {
        padding: 25px;
        background: $color-white;
    }

    .calculator-result {
        display: none;
        margin-top: 30px;
        padding: 25px;
        background: $color-white;
        box-shadow: 3px 3px 18px 3px #eaf0f8;
        &.open {
            display: block;
        }
    }

    .calculator__button {
        text-align: center;
        margin-top: 30px;
    }

    .calculator-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 10px 0;
        &--space {
            margin-top: 40px;
        }
        &--bold {
            font-weight: 600;
        }
        &.hidden {
            display: none;
        }
        &:after {
            content: '';
            width: 100%;
            height: 1px;
            background: $color-gray;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
        &__name {
            background: $color-white;
            position: relative;
            z-index: 2;
            padding-right: 10px;
            max-width: 60%;
        }
        &__value {
            background: $color-white;
            position: relative;
            font-weight: 400;
            z-index: 2;
            padding-left: 10px;
        }
    }
}
