.number {
	display: flex;
	align-items: center;
	&__input {
		margin: 0 8px;
		border: 1px solid $color-gray-dark;
		text-align: center;
		width: 50px;
		padding: 0;
		height: 35px;
		line-height: 35px;
		appearance: none;
		outline: none;
	}
	&__control {
		background: $color-main;
		color: $color-white;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		cursor: pointer;
		user-select: none;
	}
}
.form {
	&-checkbox {
		input {
			display: none;
		}
		label {
			cursor: pointer;
			display: block;
			border: 1px solid $color-gray-dark;
			border-radius: 13px;
			background-color: $color-gray-dark;
			width: 55px;
			height: 24px;
			position: relative;
			transition: all 0.2s;
		}
		label:after {
			content: "";
			background-color: #fff;
			border: 1px solid $color-gray-dark;
			border-radius: 10px;
			width: 20px;
			height: 20px;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.2s;
		}
		input:checked + label {
			background-color: $color-main;
			border-color: $color-main;
		}
		input:checked + label:after {
			left: 100%;
			transform: translateX(-100%);
			border-color: $color-main;
		}
	}
	&-input {
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: $color-gray;
		text-align: center;
		font-size: 18px;
		padding: 0 16px 5px 16px;
		outline: none;
		appearance: none;
		&:focus {
			border-color: $color-main;
		}
	}
	&-select {
		border: 2px solid $color-black;
		background: $color-white url("../images/arrow.svg") right 10px center no-repeat;
		background-size: 25px;
		appearance: none;
		border-radius: 0;
		text-align: center;
		font-size: 18px;
		height: 40px;
		line-height: 40px;
		padding: 0 40px 0 10px;
		outline: none;
		cursor: pointer;
		&:focus {
			border-color: $color-main;
		}
	}
}
