.menu {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	li {
		margin: 0 auto 25px auto;
		a {
			color: $color-white;
			text-decoration: none;
			font-weight: 400;
			text-transform: uppercase;
			position: relative;
			padding: 5px 0;
			&:after {
				content: "";
				position: absolute;
				top: 100%;
				width: 0;
				height: 2px;
				display: block;
				background: $color-main;
				transition: width 250ms ease-out;
			}
			&.active {
				&:after {
					width: 100%;
				}
			}
			&:hover {
				&:after {
					width: 100%;
				}
			}
		}
	}
	&-close {
		margin-left: auto;
		color: $color-white;
		font-weight: 400;
		text-transform: uppercase;
		text-align: right;
		font-size: 25px;
		cursor: pointer;
	}
	&-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 3;
		width: 300px;
		background: rgba($color-black, 0.7);
		padding: 25px;
		transition: transform 300ms ease-out;
		transform: translateX(100%);
		&.open {
			transform: translateX(0);
		}
	}
}
