* {
	box-sizing: border-box;
}
body {
	font-family: $font-main;
	font-weight: 300;
	font-size: 16px;
	color: $color-black;
	background: $color-gray-light;
	line-height: 1.5;
	overflow-x: hidden;
}

.container {
	width: 700px;
	max-width: 90%;
	margin: 0 auto;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba($color-black, 0.5);
	z-index: 2;
	&.open {
		display: block;
	}
}
