$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #fafcff;
$color-gray: #bed0e9;
$color-gray-dark: #4c6280;
$color-main: #ff5c72;
$color-second: #eef6ff;

$font-main: "Open Sans", sans-serif;
$font-second: "Muli", sans-serif;
